{% extends 'base.html' %}

{%block title %}Contact{% endblock %}
{% from "macros/_formhelpers.html" import render_field %}
{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Contact Us</h1>
  <div class="col-md-6 mx-auto">
	  <div class="card p-5 bg-light">
          <form action="">
            <div class="row p-3">
				{{render_field(form.fullname, class="form-control")}}
				{{render_field(form.email, class="form-control")}}
				{{render_field(form.message, class="form-control")}}
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-outline-secondary btn-lg" type="submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
		</div>
  </div>
{% endblock %}
